*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-image: url("background.jpg");
  background-size: cover;
}

.container{
  width: 1000px;
  height: 700px;
  background: rgba(0, 0, 0, 0.5);
  margin: auto;
  border-radius: 15px;
}

.container-two{
  margin: auto;
  width: 800px;
  height: 600px;
}

header, nav{
  text-align: center;
}

#logo{
  width: 190px;
  margin-top: 100px;
}

#logo-text{
  color: #00f53b;
  font-size: 25px;
  margin-top: 6px;
}

.navigation{
  width: 800px;
  height: 35px;
  display: inline-block;
  margin-top: -10px;
  background: #00f53b;
}

button{
  /* il comando border flippa i bottoni su Chroome e IE */
  margin: 7px 1px;
}

.content-top{
  margin-top: 22px;
  margin-bottom: 1px;
}

.monopattino{
  color: white;
  font-size: 18px;
}

.charging, .location{
  color: lightgrey;
  font-size: 13px;
  font-weight: normal;
  margin: 3px;
  display: block;
}

.loading{
  width: 300px;
  height: 20px;
  background: #ffa500;
  border-radius: 5px;
}

.loading-two{
  width: 450px;
  height: 20px;
  background: #008f39;
  border-radius: 5px;
}

.loading-three{
  width: 150px;
  height: 20px;
  background: #cb3234;
  border-radius: 5px;
}
